#vidcont {
    width: 60%;
    background-color: rgb(206, 245, 232);
}
#vidcont video {
    position: relative;
    width: 100%;
    height: 100%;
}
.image {
    text-align: center;
    width: 400px;
    height: 300px;
    display: inline-block;
    background: #c8ecbd;
    margin: 8px;
    padding: 4px;
}
.imgfooter {
    position: relative;
    background: rgba(190, 247, 247, 0.445);
    padding: 4px;
    left: -4000px;
    overflow: none;
    animation-delay: 1s;
}
.image:hover .imgfooter , .image:focus .imgfooter {
    left: 0px;
    bottom: 40px;
}
.image img {
    position: relative;
    height: 100%;
    width: auto;
}
#container {
    text-align: justify;
    background: #d9e6f1;
    margin: 40px;
    padding: 0ch;
}

header {
    background-color: rgb(187, 245, 245);
    padding: 6px;
    padding-bottom: 10px;
    height: 60px;
    text-align: justify;
}

h1 {
    display: inline-block;
}

form {
    text-align: center;
    display: inline-block;
    width: 500px;
    padding: 0;
    margin-bottom: 4px;
}

button {
    background: none;
    border: 0;
    outline: none;
}

.search {
    background: rgb(240, 220, 230);
    font-size: 20px;
    border: 0;
    border-radius: 2px;
    width: 550;
    padding: 4px;
    outline: none;
}

.searchbtn {
    background: rgb(165, 219, 223);
    font-size: 20px;
    border: 0;
    border-radius: 2px;
    width: 550;
    padding: 4px;
    outline: none;
}
ul {
    width: 100%;
    text-align: left;
    list-style-type: none;
    background: rgb(134, 188, 240);
}
.showmore {
    background: #bdd6ec;
    font-size: 25px;
    display: inline-block;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}
#reccomendation a {
    text-decoration: none
}
.categories {
    text-align: center;
    display: inline-block;
    text-transform: capitalize;
    width: 160px;
    background: #ebf3a7;
    padding: 10px;
    margin: 8px;
}
@media (max-width : 700px) {
    header h1 {
        display: block;
    }
    form button , form input{
        display: inline;
        padding: 4px;
       
        
    }
    form {
        display: block;
        background: #b4e9ec;
    }
    .categories {
        display: inline-block;
        width: 100%;
    }
}